<?php

/* sound_notifier */

/* register your sounds here ::: array key can be localized */
/* currently support only for mp3 media format */

$rcmail_config['sound_notifier_registry'] = array
  (
  "Default" => "default.mp3", //First key must be 'Default'
  "Air" => "crystal2.mp3"
  );

?>