<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><crystal:object name="pagetitle" /></title>
<crystal:include file="/includes/links.html" />
<script type="text/javascript" src="/functions.js"></script>
</head>
<body class="iframe">

<div id="prefs-title" class="boxtitle"><center><b><crystal:object name="sectionname" /></b></center></div>

<div id="prefs-details" class="boxcontent">
<crystal:object name="userprefs" form="form" />
</div>

<div id="formfooter">
<div class="footerleft">
<br>
<center><crystal:button command="save" type="input" class="button mainaction" label="save" /></center>
</div>
</div>

</body>
</html>
