<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><crystal:object name="pagetitle" /></title>
<crystal:include file="/includes/links.html" />
</head>
<body class="iframe">

<div id="contact-title" class="boxtitle"><crystal:object name="contactdetails" part="name" /></div>

<div id="contact-details" class="boxcontent">
<crystal:object name="contactdetails" />

<p><br /><crystal:button command="edit" type="input" class="button" label="editcontact" condition="!ENV:readonly" /></p>
</div>

</body>
</html>
