<hr />
<div style="padding: 2px 5px 5px 2px;">
<div class="plugin-description-text">
Enable or disable <b>Password Reminder</b> here.<br /><br />
Send your password to an approved email account by answering a secret question.<br />
</div>
</div>
